*{
    box-sizing: border-box;
}

header div{
    font-size: 100px;
}


main{
    display: inline-block;
}
#btn{
    background-color: blue;
    float: left;
}
#past{
    background-color: crimson;
    float: right;
    width: 80%;
    height: 500px;
}

.btnPlass{
    border: solid;
}